.Home{
    width: 100%;

    .HomeTop{
        
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        height: 64px;
        
        h3{
            max-width: 80%;
            
            font-size: calc(10px + 1vw);
        }
        
        .armad{
            height: 60px;
        }
    }
}